.service2 {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}
.serviceItem2 {
  float: left;
}
.serviceContent2 {
  margin-top: 60px;
  height: auto;
  width: 80%;
  padding: 20px;
  display: flex;
  float: left;
  background-color: #ffe4e9;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.serviceLeft2 {
  text-align: right;
}
.serviceLeft2 .img1 {
  width: 250px;
  height: 180px;
  margin-top: -50px;
  position: relative;
}
.serviceLeft2 .img2 {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: -300px;
  margin-top: 33px;
}

.serviceRight2 img {
  width: 50px;
  height: 50px;
  border-bottom: 5px solid #ff8382;
  padding-bottom: 5px;
  float: right;
  margin-right: 80px;
  margin-top: -40px;
}

.textRight {
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 15px;
}

.textRight p {
  color: #797979;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .serviceContent2 {
    width: 100%;
    height: auto;
  }
}
