.frequentlyHead {
  text-align: left;
  width: 100%;
}
.frequentlycard {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 15px;
  border-radius: 40px;
  text-align: left;
  padding: 10px;
}
.frequentlycard h5 {
  padding: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.frequentlycard .question {
  font-size: 25px;
  color: #ff8484;
  font-weight: 600;
}
.frequentlyAns{
  margin-left: 40px;
  font-size: 18px;
  color: #4e4e4e;
  display: flex;
 

}

.frequentlyAns .ans {
  font-size: 20px;
  color: #ff8484;
  font-weight: 600;
}
.frequentlyAns .ansRight {
  color: #fd4646;
  font-weight: 600;
  font-size: 15px;
 
}
