.sliders {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
}
.sliderTitle {
  text-align: center;
}
.sliderTitle h3 {
  margin-top: -50px;
  color: #fdfcfc;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
.slider {
  background-color: #ffecec;
  width: 100%;
  height: 320px;
  
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.sliderBtnBottom {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sliderButtons {
  text-align: center;
  border-radius: 40px;
  border: none;
  color: #ff8382;
  background-color: #ffffff;
  width: 200px;
  height: 50px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 25px;
  margin-top: -10px;
  
}

.sliderButtons span {
  font-size: 20px;
}
.emailIcons {
  height: 20px;
  width: 22px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ff8382;
  color: white;
  margin-left: 25px;
}
.checkIcons {
  height: 20px;
  width: 22px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ff8382;
  color: white;
  margin-left: 25px;
}
