.serviceList {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  background-color: #f4f5f7;
}
.tables {
  text-align: center;
}
.tables > tr > td {
  color: #707070;
  font-size: 14px;
  text-align: left;
  padding-right: 30px;
}
.tableButton {
  text-align: center;
  border-radius: 40px;
  border: none;
  background-color: #ff8382;
  color: #ffffff;
  width: 180px;
  height: 50px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 25px;
  font-size: 20px;
}
.emailIconsTable {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  color: #ff8382;
}
