.headerNavBar {
  max-width: 100vw;
  height: 100px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.headerNav {
  display: grid;
  grid-template-rows: auto;
}
.headerList li {
  list-style: none;
  margin-left:-60px;
 
}
.list {
  width: 160px;
  height: 100px;
  
 
  text-align:center;
  justify-items: center;
  align-items: center;
}
.list h6 {
  font-size: 15px;
  margin-top: 10px;
  
}
.headerList li img {
  width: 25px;
  height: 25px;
}

.list:hover {
  background-color: #ff8382;
}
.list:hover h6 {
  color: #ffffff;
}
