.headerNavBar {
  width: 100vw;
  background-color: white;
}
.headerNav {
  display: flex;
  flex-direction: row;
}
.headerList li {
  list-style: none;
}
.list{
  width: 140px;
}
.headerList li img {
  width: 50px;
  height: 50px;
}
