.headerMain {
  width: 100vw;
  height: 60vh;
  box-sizing: border-box;
  /* border-top: 3px solid #f8c6c6; */
  /* box-shadow: 3px solid #f8c6c6; */
}

.cardHeaderTxt {
  background-color: #f8c6c6;
}

.cardHeaderTxtLeft .img1 {
  width: 120px;
  width: 120px;
  margin-left: -280px;
  margin-top: -30px;
}
.cardHeaderTxtLeft h6 {
  transform: rotate(-65deg);
  -webkit-transform: rotate(-32deg);
  margin-top: -75px;
  margin-left: -275px;
  color: #d65b5b;
}

.cardHeaderTxt h3 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  margin-top: -10px;
}
.cardTxt {
  text-align: left;
  color: #696868;
  font-weight: 400;
  padding: 5px;
}

.cardBottom p {
  text-align: center;
  color: #b73c3b;
  font-size: 16px;
}
.cardBtnBottom {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.cardButton {
  text-align: center;
  border-radius: 40px;
  border: none;
  background-color: #ff8382;
  color: #ffffff;
  width: 180px;
  height: 50px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 25px;
  font-size: 20px;
}

.emailIcon {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  color: #ff8382;
}

.headerMainRight {
  text-align: left;
  justify-content: left;
  align-items: flex-start;
}
.headerMainRight img {
  width: 600px;
}
