.userService {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.userServiceTitle {
  text-align: center;
}
.userServiceTitle h3 {
  margin-top: -50px;
  color: #fdfcfc;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
