.userService {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}
.userServiceTitle {
  position: relative;
  text-align: center;
}
.userServiceTitle h3 {
  color: #fdfcfc;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
.userServiceTitle img{
  position: absolute;
  left: calc(50% - 165px);
  top: 20px;
  z-index: -1;
}