.service4 {
  width: 100vw;
  height: 50vh;
  box-sizing: border-box;
  margin-top: 40px;
}
.services4 {
  height: 250px;
  width: 80%;
  float: left;
  background-color: #ffe4e9;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
.serviceLeft4 {
  text-align:right;
  margin-top: 30px;
}
.serviceLeft4 .img1 {
  width: 320px;
  height: 200px;
  position: relative;
  
}
.serviceRight4{
  width: 50px;
  height: 50px;
  border-bottom: 5px solid #ff8382;
  padding-bottom: 5px;
  float:right;
  margin-right:100px;
  margin-top: -20px;
  
}
.textRight{
  text-align: right;
  margin-right:90px;
}
.textRight p{
  font-size: 12px;
}