.serviceBenefit {
  width:100vw;
  box-sizing: border-box;
  margin-top: 100px;

}
.benefitTitle {
  position: relative;
  text-align: center;
}
.benefitTitle img {
  position: absolute;
  left: calc(50% - 200px);
  top: 20px;
  z-index: -1;
}
.benefitTitle h2 {
  color: #fdfcfc;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
.card {
  width:160px;
  height:200px;
  text-align: center;
  background-color: #ffecec;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left:25px;
}
.card1 img {
  width: 40px;
  height: 40px;
}
.card1 .img1 {
  margin-top: 20px;
}
.card1 .img2 {
  margin-left:-40px;
}
.card1 .img3 {
  margin-left: 55px;
  margin-top: -40px;
 
}
.card-text {
  font-size: 12px;
}

.card2 {
  text-align: center;
}
.card2 .img3 {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: 2px solid #ff8382;
  background-color: #ffffff;
  margin-left:0px;
  margin-top: 50px;
}
.card2 .img4 {
  width: 70px;
  height: 50px;
  position: absolute;
}
.card2 p {
  margin-top:60px;
}

.card3 {
  text-align: center;
}
.card3 .img5 {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 20px;
}
.card3 p {
  margin-top: 20px;
}
.card4 .img6 {
  width: 50px;
  height: 70px;
  margin-top: 30px;
  margin-left:10px;
}
.card4 p {
  margin-top: 25px;
}
.card5 .img7 {
  width: 90px;
  height: 80px;
  margin-top: 30px;
}
.card5 p {
  margin-top: 25px;
}
