.companies{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin-top: 10px;
}
.companiesTitle{
  text-align: center;

}
.companiesTitle h1 {
  margin-top: -50px;
  color: #fdfcfc;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
