.companies{
  width: 100vw;
  height:auto;
  box-sizing: border-box;
}
.companiesTitle{
  position: relative;
  text-align: center;

}
.companiesTitle img{
  position: absolute;
  left: calc(50% - 110px);
  top: 20px;
  z-index: -1;
}

.companiesTitle h2 {
  color: #fdfcfc;
  text-shadow: 2px 2px black;
  font-weight: bold;
}
