.headerBg {
  background-image: url('../../../images/header.png');
  height:350px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.imgTxt {
  width: 350px;
  height: 200px;
  margin-top:25px;
  margin-left: 100px;
}

.headerList {
  list-style: none;
  margin-left: 180px;
  display: flex;
  flex-direction: row;
}

.headerList li {
  margin-right: 80px;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}
.headerAlarm {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 230px;
  border-radius: 10px;
  padding: 5px;
 align-items: center;
 justify-content: center;
 justify-items: center;
 margin-left: 200px;
 margin-top: -20px;
}
.headerAlarm img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.headerAlarm h6{
  margin-top: 5px;
}