.headerBg {
  background-image: url('../../../images/header.png');
  width: 100vw;
  height:100%;
  max-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-sizing: border-box;
  padding-bottom: 30px;

  
  
}
.imgText {
  width: 350px;
  height: 200px;
  margin-top:25px;
  margin-left:70px;
  
}

.headerList1 {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.headerList1 li {
  margin-right:10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}
.headerTxt{
  margin-top: -28px;
  margin-left: 15px;
}
.headerAlarm {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 200px;
  border-radius: 10px;
  padding:10px;
  text-align: center;
 align-items: center;
 justify-content: center;
 margin-top: -20px;
}
.headerAlarm img {
  width: 40px;
  height: 35px;
  margin-right: 10px;
}
.headerAlarm h6{
  margin-top: 5px;
}
.icon{
  font-size: 6px;
}